.register-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: auto;
 }
 
 .register-title img {
     width: 200px;
     height: 200px;
 }
 
 .register-title * {
     margin: 3px;
     text-align: center;
 }

 .register p {
    margin: 1px;
 }

 .register {
    margin: 20px;
 }