#search-bar{
  position: relative;
}

#search-bar svg{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.grid-event-categorias{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 250px);
  padding-bottom: 50px;
  overflow: scroll;
  box-sizing: border-box;
}

.grid-event-categorias::-webkit-scrollbar{
  display: none;
}

.search-results{
  height: calc(100vh - 250px);
  padding-bottom: 50px;
  overflow: scroll;
  box-sizing: border-box;
}

.search-results::-webkit-scrollbar{
  display: none;
}